/* ______________global rule______________ */

/*단 한 번이라도 재사용되는 스타일이라면 global.css에서 관리한다.*/

body {
  background-color: #acd6fa;
}

header {
  grid-area: header;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  h1 {
    width: 200px;
    height: 100%;
    > a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 130px;
      }
    }
  }
  > div {
    margin-right: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-left: 1 solid lightgray;
    > img {
      width: 40px;
      margin-right: 20px;
    }
  }
}

aside {
  grid-area: aside;
  background-color: #e9ecef;
  > div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    > img {
      width: 100%;
    }
  }
  > ul {
    width: 100%;
    text-align: right;
    border-top: 1px solid black;
    color: black;
    > li {
      width: 100%;
      line-height: 50px;
      box-sizing: border-box;
      background-color: #cbdbef;
      border-bottom: 1px solid #d2e2f5;
      &:hover {
        background-color: #abadaf;
      }
      > a {
        display: block;
        box-sizing: border-box;
        padding-right: 20px;
        width: 100%;
        height: 100%;
        &.active {
          background-color: #f46817;
          color: white;
        }
      }
    }
  }
}

.content {
  grid-area: section;
  background-color: #fff;
  padding: 20px 30px 20px;
  overflow-y: auto;
  > h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  > p {
    color: lightslategray;
    margin-bottom: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgb(232, 231, 231);
  }
}

footer {
  grid-area: footer;
  background-color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
    > div {
      position: relative;
      width: 50%;
      height: 800px;
      &::after {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background-color: white;
        right: -50px;
        top: 0;
        position: absolute;
      }
      > img {
        position: absolute;
        &:nth-of-type(1) {
          width: 130%;
          left: 45%;
          transform: translate(-50%, -50%);
          top: 50%;
        }
      }
    }
    > section {
      width: 50%;
    }
  }
  > footer {
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
  }
}

.DashboardContainer {
  display: grid;
  margin-block: 30px;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 800px 20px;
  grid-template-areas:
    "aside header"
    "aside section"
    "footer footer";
  gap: 10px 20px;
  > * {
    border-radius: 8px;
  }
}
