/* ______________global rule______________ */

/*단 한 번이라도 재사용되는 스타일이라면 global.css에서 관리한다.*/

body {
  background-color: #acd6fa;
}

header {
  grid-area: header;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Color--M-Gray);
  h1 {
    width: 200px;
    height: 100%;
    > a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: 130px;
      }
    }
  }
  > div {
    margin-right: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-left: 1 solid var(--Color--M-Gray);
    > img {
      width: 40px;
      margin-right: 20px;
    }
  }
}

aside {
  grid-area: aside;
  background-color: #ffffff;
  border-right: 1px solid var(--Color--M-Gray);
  box-sizing: border-box;
  padding-block: 10px;
  padding-inline: 8px;
  > ul {
    width: 100%;
    color: black;
    > li {
      width: 100%;
      text-indent: 40px;
      line-height: 32px;
      box-sizing: border-box;
      font-size: 1px;
      position: relative;
      border-radius: 8px;
      font-size: 15px;
      padding: 3px;
      a:hover {
        background-color: #f0f0f0;
      }
      > a {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        position: relative;
        margin-bottom: 3px;
        &.active {
          border: 2px solid var(--Color--M-Blue);
        }
      }
      &:nth-of-type(1) > a:after {
        content: "";
        width: 20px;
        height: 20px;
        background: url(../../public/images/rocket.png) no-repeat center /
          contain;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
      }
      > ul {
        padding-left: 16px;
        > li {
          > a {
            display: block;
            border-radius: 8px;
            position: relative;
            &.active {
              background-color: var(--Color--S-Skyblue);
              color: var(--Color--M-Blue);
              &::before {
                content: "";
                height: 12px;
                width: 3px;
                background-color: var(--Color--M-Blue);
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          & > a:after {
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            left: 6%;
            top: 50%;
            transform: translateY(-50%);
          }
          &:nth-of-type(1) > a::after {
            background: url(../../public/images/upload_icon_small.png) no-repeat
              center / contain;
          }
          &:nth-of-type(2) > a::after {
            background: url(../../public/images/project_option.png) no-repeat
              center / contain;
          }
        }
      }
    }
  }
}

.content {
  grid-area: section;
  background-color: #fff;
  padding: 20px 30px 20px;
  overflow-y: auto;
  > h2 {
    font-size: 24px;
    font-weight: 400;
  }
  > p {
    color: lightslategray;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid rgb(232, 231, 231);
  }
}

footer {
  grid-area: footer;
  background-color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
    > div {
      position: relative;
      width: 50%;
      height: 800px;
      &::after {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        background-color: white;
        right: -50px;
        top: 0;
        position: absolute;
      }
      > img {
        position: absolute;
        &:nth-of-type(1) {
          width: 100%;
          left: 50%;
          top: 55%;
          transform: translate(-50%, -50%);
          scale: 120%;
        }
      }
    }
    > section {
      width: 50%;
    }
  }
  > footer {
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
  }
}

.container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 20px;
  grid-template-areas:
    "header header"
    "aside section"
    "footer footer";
}

.searchBox {
  height: 35px;
  display: flex;
  position: relative;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  > p {
    margin-right: 20px;
    border-radius: 5px;
    width: 100px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      background: url(../../public/images/bottomArrow_icon.png) no-repeat center /
        contain;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      & + ul {
        display: block;
      }
    }
  }
  > ul {
    background-color: rgb(248, 248, 248);
    width: 100px;
    top: 33px;
    display: none;
    position: absolute;
    &:hover {
      display: block;
    }
    > li {
      padding-left: 10px;
      line-height: 30px;
      cursor: pointer;
      box-sizing: border-box;
      &:hover {
        background-color: var(--Color--M-Gray);
        color: white;
      }
      border-bottom: 1px solid white;
    }
  }
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 8px;
    height: 100%;
    box-sizing: border-box;
    padding-inline: 10px;
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../../public/images/search_icon.png) no-repeat center /
        contain;
    }
  }
}

.btn-bg-Blue {
  border-radius: 5px;
  color: white;
  background-color: rgb(25, 131, 253);
  &:hover {
    background-color: var(--Color--M-Blue);
  }
}
